# Ignora gli ambienti virtuali
HyperParamOpt/
env/

# Ignora file temporanei di sistema
.DS_Store
Thumbs.db
myBackProp.py

# Ignora i file compilati di Python
__pycache__/
*.py[cod]

# Ignora eventuali cartelle di librerie o dipendenze
node_modules/
